
# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Node
node_modules/
dashboard/node_modules/

# Build files
dist/
dashboard/dist/

# Data
data/raw/
*.xlsx
*.zip
data/processed/cleaned_retail.csv
# OS
.DS_Store

